node_modules
.npm
.next
dist
build
.git
.gitignore
.vscode
.idea
.DS_Store
*.log
coverage
Dockerfile
docker-compose.yml
.dockerignore
public/uploads/*
!public/uploads/.gitkeep
scripts/dev.js
scripts/test-*.ts